<div class="alert alert-light" role="alert">
  <small>
    I pattern comportamentali <i>(o Behavioural Patterns)</i> sono un gruppo di
    design pattern che si concentrano sul comportamento e sulle interazioni tra
    gli oggetti. Questi pattern sono utilizzati per organizzare e gestire
    efficacemente le responsabilità tra gli oggetti, garantendo che le classi e
    gli oggetti interagiscano in modo flessibile e riusabile
  </small>
  <small class="d-block mt-3"
    >Elenco dei Pattern Comportamentali Principali:
    <strong
      >Observer, Strategy, Command, Iterator, Chain of Responsibility, State,
      Template, Method, Visitor, Interpreter, Memento e Mediator</strong
    >
  </small>
  <example-link></example-link>
</div>
