<div class="alert alert-light" role="alert">
  <small>
    I pattern strutturali sono un gruppo di design pattern che si concentrano
    sull'organizzazione delle classi e degli oggetti in strutture complesse.
    Questi pattern sono utilizzati per creare relazioni tra gli oggetti in modo
    flessibile, fornendo un'architettura solida e mantenibile per
    un'applicazione.
  </small>
  <small class="d-block mt-3"
    >Elenco dei Pattern Strutturali Principali:
    <strong
      >Adapter, Bridge, Composite, Decorator, Facade, Flyweight e Proxy</strong
    >
  </small>
  <example-link></example-link>
</div>
