.obs-pill {
  width: fit-content;
  margin-right: 0.65rem;
}

.obs-pill:hover {
  box-shadow: 5px 0px 2px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}
