<div class="alert alert-light" role="alert">
  <small>
    I pattern creazionali sono un gruppo di design pattern che forniscono
    meccanismi per la creazione di oggetti in modo flessibile e riusabile.
    Questi pattern sono utilizzati per risolvere problemi legati alla creazione
    degli oggetti, garantendo che il processo di creazione sia ben strutturato,
    efficiente e facilmente estendibile
  </small>
  <small class="d-block mt-3"
    >Elenco dei Pattern Creazionali Principali:
    <strong
      >Singleton, Factory Method, Abstract Factory, Builder e Prototype</strong
    >
  </small>
  <example-link></example-link>
</div>
